* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

header {
  text-align: center;
  background-color: #3E2A35;
  padding: 30px 0;
}

.top-container {
  background-color: #3E2A35;
  height: 350px;
  width: 100%;
}

h1 {
  display: inline-block;
  color: #FFF;
  font-size: 70px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 800;
}

.logo {
  width: 100px;
  padding: 0 10px;
}

label {
  color: #C2B2B4;
  margin-left: 1%;
}

.title-input,
.caption-input {
  width: 98%;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.add-button {
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 600;
  margin-right: 1%;
  float: right;
}

.upload-photo {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.upload-photo:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

.upload-photo + label * {
	pointer-events: none;
}

.input-container {
  width: 50%;
  margin: 0 auto;
}

.style-button {
  background: #5B4447;
  color: #fff;
  padding: 15px 30px;
  margin-top: 15px;
  display: inline-block;
  width: 225px;
  height: 50px;
  text-align: center;
  letter-spacing: 1px;
}

.style-button:hover {
  cursor: pointer;
  background: #938284;
}

.album {
  background-color: #C2B2B4;
  padding-top: 40px;
  margin: auto;
  height: 100vh;
}

.add-photo {
  font-size: 100px;
  color: #3E2A35;
  text-align: center;
}

.add-button:disabled {
  /*background: #a6abad;*/
  cursor: not-allowed;;
}

.card {
  display: inline-block;
  width: 195px;
  height: 280px;
  background-color: #FFF;
  border: 2px solid #938284;
  color: #3E2A35;
  margin: 0 50px 30px;
}

.card-title {
  width: 195px;
  height: 35px;
  padding: 10px;
  word-wrap: break-word;
  overflow: scroll;
  line-height: 20px;
  font-size: 14px;
}

.photo {
  height: 120px;
  width: 191px;
}

.photo-caption {
  width: 195px;
  height: 80px;
  padding: 10px;
  word-wrap: break-word;
  overflow: scroll;
  line-height: 20px;
  font-size: 14px;
}

.icon-container {
  height: 45px;
  padding: 8px;
  background-color: #5B4447;
}

.delete {
  background: url("photos/delete.svg") no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  border: none;
}

.delete:hover {
  background: url("photos/delete-active.svg") no-repeat;
}

.favorite {
  background: url("photos/favorite.svg") no-repeat;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  float: right;
  border: none;
}

.favorite:hover,
.favorite-active {
  background: url("photos/favorite-active.svg") no-repeat;
}

.card-container {
  width: 90%;
  margin: auto;
}

.liked {
  /*background-color: #D3D3D3;*/
  background: #E26D5A;
