* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

header {
  text-align: center;
  background-color: #3E2A35;
  padding: 30px 0;
}

.top-container {
  background-color: #3E2A35;
  height: 350px;
  width: 100%;
}

h1 {
  display: inline-block;
  color: #FFF;
  font-size: 70px;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 800;
}

.logo {
  width: 100px;
  padding: 0 10px;
}

label {
  color: #C2B2B4;
  margin-left: 1%;
}

.title-input,
.caption-input {
  width: 98%;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

.add-button {
  border: none;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 600;
  margin-right: 1%;
  float: right;
}

/*.buttons{
  width: 100%;
}*/

.upload-photo {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-container {
  width: 50%;
  margin: 0 auto;
}

.add-button,
.choose-file {
  background: #5B4447;
  color: #fff;
  padding: 15px 30px;
  margin-top: 15px;
  display: inline-block;
  width: 225px;
  height: 50px;
  text-align: center;
  letter-spacing: 1px;
}

.save-button:hover,
.choose-file:hover {
  cursor: pointer;
  background: #938284;
}

/*main {
  background-color: #C2B2B4;
}*/

.card-container {
  height: 500px;
  background-color: #C2B2B4;
}
